Repository arti-set-dev/citydrive-pers-acc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

add ImportDataAboutCompanyButton feature
  db.json
  package-lock.json
  package.json
  src/app/router/types/config.ts
  src/entities/Department/index.ts
  src/entities/Department/model/types/department.ts
  src/entities/Employee/model/types/employee.ts
  src/features/import-data-about-company/api/importApi.ts
  src/features/import-data-about-company/index.ts
  src/features/import-data-about-company/ui/ImportDataAboutCompanyButton.tsx
  src/features/login/index.ts
  src/features/login/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/login/ui/LoginForm/LoginForm.tsx
  src/features/login/ui/RegistrationForm/RegistrationForm.tsx
  src/features/login/ui/ResetPasswordForm/ResetPasswordForm.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/RegistrationPage/RegistrationPage.async.tsx
  src/pages/RegistrationPage/RegistrationPage.tsx
  src/pages/RegistrationPage/index.ts
  src/pages/SettingsPage/SettingsPage.tsx
  src/shared/api/baseApi.ts
  src/shared/lib/router/paths.ts
  src/shared/ui/Card/Card.tsx
  src/shared/ui/Logo/Logo.tsx
  src/widgets/Sidebar/ui/Sidebar.tsx
Due: eslint, prettier --check

refactor private routes and rtk a[i services
  db.json
  src/app/router/RequireAuth.tsx
  src/app/router/types/config.ts
  src/entities/Employee/index.ts
  src/entities/Employee/model/types/employee.ts
  src/entities/Invoice/api/invoiceApi.ts
  src/entities/Invoice/ui/InvoiceList/InvoiceList.tsx
  src/features/import-data-about-company/ui/ImportDataAboutCompanyButton.tsx
  src/pages/InvoicesPage/InvoicesPage.tsx
  src/widgets/Sidebar/ui/Sidebar.tsx
Due: eslint, prettier --check

add activate promocode feature
  src/features/activate-promocode/api/invoiceApi.ts
  src/features/activate-promocode/ui/ActivatePromocodeForm.tsx
Due: eslint, prettier --check

add department feature add department api service
  db.json
  src/entities/Department/api/departmentApi.ts
  src/entities/Department/ui/DepartmentItem/DepartmentItem.tsx
  src/entities/Department/ui/DepartmentList/DepartmentList.tsx
  src/features/add-new-department/api/addNewDepartmentApi.ts
  src/features/add-new-department/ui/AddNewDepartmentForm/AddNewDepartmentForm.tsx
  src/pages/DepartmentsPage/DepartmentsPage.tsx
  src/shared/api/baseApi.ts
  src/shared/ui/Field/Field.tsx
Due: eslint, prettier --check

add new department feature
  db.json
  src/app/router/types/config.ts
  src/entities/Department/ui/DepartmentItem/DepartmentItem.tsx
  src/entities/Department/ui/DepartmentList/DepartmentList.tsx
  src/features/delete-department/api/deleteDepartmentApi.ts
  src/features/delete-department/index.ts
  src/features/delete-department/ui/DeleteDepartmentButton/DeleteDepartmentButton.tsx
  src/features/delete-department/ui/DeleteDepartmentModal/DeleteDepartmentModal.tsx
  src/features/edit-department/api/editDepartmentApi.ts
  src/features/edit-department/ui/EditDepartmentForm.tsx
  src/pages/DepartmentsPage/DepartmentsPage.tsx
Due: eslint, prettier --check

add new/edit/delete employer
  db.json
  src/app/router/RequireAuth.tsx
  src/app/store/types/types.ts
  src/entities/Department/index.ts
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/index.ts
  src/entities/Employee/model/types/columns.tsx
  src/entities/Employee/model/types/employee.ts
  src/entities/Employee/ui/EmployeeItem/EmployeeItem.tsx
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/features/add-new-employee/api/addNewEmployeeApi.ts
  src/features/add-new-employee/index.ts
  src/features/add-new-employee/model/selectors/addNewEmployeeSelectors.ts
  src/features/add-new-employee/model/slices/addNewEmployeeSlice.ts
  src/features/add-new-employee/model/types/addNewEmployee.ts
  src/features/add-new-employee/ui/AddNewEmployeeForm.tsx
  src/features/delete-employee/api/deleteEmployeeApi.ts
  src/features/delete-employee/index.ts
  src/features/delete-employee/ui/DeleteEmployeeButton/DeleteEmployeeButton.tsx
  src/features/edit-employee/api/editEmployeeApi.ts
  src/features/edit-employee/index.ts
  src/features/edit-employee/model/slices/editEmployeeSlice.ts
  src/features/edit-employee/model/types/editEmployee.ts
  src/features/edit-employee/ui/EditEmployeeForm.tsx
  src/features/import-data-about-company/ui/ImportDataAboutCompanyButton.tsx
  src/features/sort-employee-trips/ui/TripsFilter/TripsFilter.tsx
  src/pages/DepartmentPage/DepartmentPage.tsx
  src/pages/EmployeeEditPage/EmployeeEditPage.tsx
  src/pages/EmployeePage/EmployeePage.tsx
  src/pages/EmployeesPage/EmployeesPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/TripsPage/TripsPage.tsx
  src/shared/lib/router/paths.ts
  src/shared/ui/AppLink/AppLink.module.scss
  src/shared/ui/Select/Select.tsx
  src/shared/ui/TimePicker/TimePicker.tsx
Due: eslint, stylelint, prettier --check

add new EmployeesFilter feature
  db.json
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/features/employees-filter/ui/EmployeesFilter/EmployeesFilter.tsx
  src/pages/EmployeesPage/EmployeesPage.tsx
  src/shared/hooks/useDebounce/useDebounce.ts
  src/shared/ui/Field/Field.tsx
  src/shared/ui/Select/Select.tsx
  src/shared/ui/TimePicker/TimePicker.tsx
Due: eslint, prettier --check

add EmployeesFilter feature
  src/entities/Department/api/departmentApi.ts
  src/entities/Department/ui/DepartmentList/DepartmentList.tsx
  src/features/add-new-employee/ui/AddNewEmployeeForm.tsx
  src/features/edit-employee/ui/EditEmployeeForm.tsx
  src/features/search-department/index.ts
  src/features/search-department/ui/DepartmentSearchContainer/DepartmentSearchContainer.tsx
  src/features/search-department/ui/SearchDepartmentForm/SearchDepartmentForm.tsx
  src/pages/DepartmentsPage/DepartmentsPage.tsx
Due: eslint, prettier --check

add search employee feature
  db.json
  src/entities/Department/api/departmentApi.ts
  src/entities/Department/index.ts
  src/entities/Department/ui/DepartmentItem/DepartmentItem.tsx
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/features/edit-department/api/editDepartmentApi.ts
  src/features/edit-department/ui/EditDepartmentForm.tsx
  src/features/search-employee/index.ts
  src/features/search-employee/ui/SearchEmployeeContainer/SearchEmployeeContainer.tsx
  src/features/search-employee/ui/SearchEmployeeForm/SearchEmployeeForm.tsx
  src/pages/DepartmentPage/DepartmentPage.tsx
  src/pages/TripsPage/TripsPage.tsx
  src/shared/lib/router/paths.ts
Due: eslint, prettier --check

add search invoices feature
  src/entities/Invoice/api/invoiceApi.ts
  src/entities/Invoice/ui/InvoiceList/InvoiceList.tsx
  src/features/search-invoices/index.ts
  src/features/search-invoices/ui/SearchInvoicesContainer/SearchInvoicesContainer.tsx
  src/features/search-invoices/ui/SearchInvoicesForm.tsx
  src/features/search-invoices/ui/SearchInvoicesForm/SearchInvoicesForm.tsx
  src/pages/InvoicesPage/InvoicesPage.tsx
Due: eslint, prettier --check

add sort-employee-trips feature
  db.json
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/index.ts
  src/entities/Employee/model/types/employee.ts
  src/entities/Route/api/routeApi.ts
  src/entities/Route/index.ts
  src/entities/Route/model/route.ts
  src/entities/Route/ui/RouteItem/RouteItem.tsx
  src/entities/Route/ui/RouteItem/RouteItemSkeleton.tsx
  src/entities/Route/ui/RouteList/RouteList.tsx
  src/entities/Route/ui/SmartRouteItem/SmartRouteItem.tsx
  src/features/sort-employee-trips/index.ts
  src/features/sort-employee-trips/ui/SortTripsByMonth/SortTripsByMonth.tsx
  src/features/sort-employee-trips/ui/TripsFilter/TripsFilter.tsx
  src/features/sort-employee-trips/ui/TripsSortContainer/TripsSortContainer.tsx
  src/pages/EmployeePage/EmployeePage.tsx
  src/shared/lib/mapEmployeeData/mapEmployeeData.ts
  src/shared/ui/DatePicker/DatePicker.tsx
  src/shared/ui/Select/Select.tsx
  src/widgets/EmployeeInfo/ui/EmployeeInfo.tsx
  src/widgets/EmployeeInfo/ui/EmployeeInfoSkeleton.tsx
  src/widgets/RoutePath/ui/RoutePath.tsx
  src/widgets/TripsInfoByMonth/ui/TripsInfoByMonth.tsx
  src/widgets/TripsInfoByMonth/ui/TripsInfoByMonthSkeleton.tsx
Due: eslint, prettier --check

add pagination and vitalized list
  db.json
  package-lock.json
  package.json
  src/entities/Department/api/departmentApi.ts
  src/entities/Department/ui/DepartmentList/DepartmentList.tsx
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/entities/Invoice/api/invoiceApi.ts
  src/entities/Invoice/ui/InvoiceList/InvoiceList.tsx
  src/entities/Route/api/routeApi.ts
  src/entities/Route/index.ts
  src/entities/Route/ui/RouteList/RouteList.tsx
  src/features/delete-department/ui/DeleteDepartmentButton/DeleteDepartmentButton.tsx
  src/features/search-invoices/ui/SearchInvoicesContainer/SearchInvoicesContainer.tsx
  src/features/sort-employee-trips/ui/TripsFilter/TripsFilter.tsx
  src/pages/DepartmentsPage/DepartmentsPage.tsx
  src/pages/InvoicesPage/InvoicesPage.tsx
  src/shared/api/baseQuery.ts
  src/shared/api/types.ts
  src/shared/ui/Pagination/Pagination.tsx
  src/shared/ui/VirtualList/VirtualList.tsx
Due: eslint, prettier --check

add route details
  db.json
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/entities/Route/api/routeApi.ts
  src/entities/Route/index.ts
  src/entities/Route/ui/RouteItem/RouteItem.tsx
  src/pages/TripPage/TripPage.tsx
  src/pages/TripsPage/TripsPage.tsx
  src/shared/lib/router/paths.ts
  src/widgets/Rate/ui/Rate.tsx
  src/widgets/RideInfo/ui/RideInfo.tsx
  src/widgets/RouteDitails/ui/RouteDetails.tsx
  src/widgets/RouteMap/ui/RouteMap.tsx
  src/widgets/RoutePath/ui/RoutePath.tsx
Due: eslint, prettier --check

add notification service
  db.json
  src/entities/Notification/api/notificationApi.ts
  src/entities/Notification/index.ts
  src/entities/Notification/model/types/notification.ts
  src/entities/Notification/ui/NotificationButton.module.scss
  src/entities/Notification/ui/NotificationButton.tsx
  src/features/add-new-employee/ui/AddNewEmployeeForm.tsx
  src/pages/EmployeePage/EmployeePage.tsx
  src/pages/SettingsPage/SettingsPage.tsx
  src/shared/api/baseApi.ts
Due: eslint, stylelint, prettier --check

add feature flags service, add theme switcher
  db.json
  eslint.config.ts
  package-lock.json
  package.json
  public/index.html
  scripts/remove-feature.ts
  src/app/Layout.tsx
  src/app/styles/global.scss
  src/entities/Employee/api/employeeApi.ts
  src/entities/Employee/index.ts
  src/entities/Employee/model/types/employee.ts
  src/features/ThemeSwitcher/index.ts
  src/features/ThemeSwitcher/ui/ThemeSwitcher.tsx
  src/features/add-new-employee/model/slices/addNewEmployeeSlice.ts
  src/features/add-new-employee/ui/AddNewEmployeeForm.tsx
  src/index.tsx
  src/pages/SettingsPage/SettingsPage.tsx
  src/shared/assets/icons/sun-dim.svg
  src/shared/lib/context/ThemeContext.ts
  src/shared/lib/context/ThemeProvider.tsx
  src/shared/lib/features/FeatureFlagContext.tsx
  src/shared/lib/features/ToggleFeature.tsx
  src/shared/types/featureFlags.ts
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Text/Text.module.scss
  src/widgets/PageLoader/ui/PageLoader.module.scss
  src/widgets/PageLoader/ui/PageLoader.tsx
  src/widgets/Sidebar/ui/Sidebar.module.scss
  src/widgets/Sidebar/ui/Sidebar.tsx
  src/widgets/Stat/ui/Stat/Stat.tsx
Due: eslint, stylelint, prettier --check

add story cases for ui components
  config/.storybook/main.ts
  config/.storybook/preview.tsx
  package-lock.json
  package.json
  src/app/styles/global.scss
  src/shared/lib/context/ThemeProvider.tsx
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Card/Card.stories.tsx
  src/shared/ui/DatePicker/DatePicker.stories.tsx
  src/shared/ui/Field/Field.stories.tsx
  src/shared/ui/Loader/Loader.stories.tsx
  src/shared/ui/Logo/Logo.stories.tsx
  src/shared/ui/Modal/Modal.stories.tsx
  src/shared/ui/Pagination/Pagination.stories.tsx
  src/shared/ui/Popover/Popover.stories.tsx
  src/shared/ui/Portal/Portal.tsx
  src/shared/ui/Select/Select.stories.tsx
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Skeleton/Skeleton.stories.tsx
  src/shared/ui/Stack/Flex/Flex.stories.tsx
  src/shared/ui/Stack/Grid/Grid.stories.tsx
  src/shared/ui/Status/Status.stories.tsx
  src/shared/ui/Switcher/Switcher.stories.tsx
  src/shared/ui/Text/Text.stories.tsx
  src/shared/ui/TimePicker/TimePicker.stories.tsx
  src/shared/ui/VirtualList/VirtualList.stories.tsx
Due: eslint, stylelint, prettier --check

add cypress
  cypress.config.ts
  cypress/e2e/auth.cy.ts
  cypress/fixtures/auth.json
  cypress/fixtures/departments.json
  cypress/fixtures/example.json
  cypress/tsconfig.json
  eslint.config.ts
  package-lock.json
  package.json
  src/pages/EmployeesPage/EmployeesPage.tsx
  tsconfig.json
Due: eslint, prettier --check

add performance practices
  db.json
  eslint.config.ts
  package-lock.json
  package.json
  src/entities/Employee/ui/EmployeeList/EmployeeList.tsx
  src/entities/Notification/ui/NotificationButton.tsx
  src/features/employees-filter/ui/EmployeesFilter/EmployeesFilter.tsx
  src/features/search-department/ui/DepartmentSearchContainer/DepartmentSearchContainer.tsx
  src/features/search-employee/ui/SearchEmployeeContainer/SearchEmployeeContainer.tsx
  src/pages/DepartmentPage/DepartmentPage.tsx
  src/pages/EmployeePage/EmployeePage.tsx
  src/pages/HomePage/HomePage.tsx
  src/shared/hooks/useAsyncReducer/useAsyncReducer.ts
  src/shared/lib/features/ToggleFeature.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Card/Card.tsx
  src/shared/ui/DatePicker/DatePicker.stories.tsx
  src/shared/ui/Field/Field.stories.tsx
  src/shared/ui/Modal/Modal.stories.tsx
  src/shared/ui/Pagination/Pagination.tsx
  src/shared/ui/Popover/Popover.stories.tsx
  src/shared/ui/Select/Select.stories.tsx
  src/shared/ui/Switcher/Switcher.stories.tsx
  src/shared/ui/Text/Text.tsx
  src/shared/ui/TimePicker/TimePicker.stories.tsx
  src/shared/ui/VirtualList/VirtualList.tsx
  src/widgets/Navbar/ui/Navbar.tsx
  src/widgets/Sidebar/ui/Sidebar.tsx
Due: eslint, prettier --check

add documentation
  README.md
  src/app/README.md
  src/entities/Department/README.md
  src/entities/Employee/README.md
  src/entities/Route/README.md
  src/features/add-new-employee/README.md
  src/features/employees-filter/README.md
  src/features/login/README.md
  src/pages/README.md
  src/shared/README.md
  src/widgets/Navbar/README.md
  src/widgets/README.md
Due: none

add authorization
  .github/workflows/main.yml
  src/features/login/api/loginApi/loginApi.ts
  src/features/login/index.ts
  src/features/login/ui/ForgotPasswordForm/ForgotPasswordForm.tsx
  src/features/login/ui/RegistrationForm/RegistrationForm.tsx
  src/features/login/ui/ResetPasswordForm/ResetPasswordForm.tsx
  src/pages/ForgotPasswordPage/ForgotPasswordPage.tsx
  src/pages/ResetPasswordPage/ResetPasswordPage.tsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.scss
  prettier --check: any of: *.{js,ts,jsx,tsx,scss,json}
